<%- contentFor('header') %>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script>
  // Script content!
</script>

<%- contentFor('footer') %>

<% /*
Content for the `body` section should either be the first thing defined
in the view, or it has to be declared just like any other section.
*/ %>
<%- contentFor('body') %>

<html>
<br><br>
<form name="form1" method="POST" action="/add">
  <table>
    <tr>
      <td>First Name:</td>
      <td><input type="text" class="form-control" name="fname" placeholder=""></td>
    </tr>
    <tr>
      <td>Last Name:</td>
      <td><input type="text" class="form-control" name="lname" placeholder=""></td>
    </tr>
    <tr>
      <td>Age:</td>
      <td><input type="text" class="form-control" name="age" placeholder=""></td>
    </tr>
    <tr>
      <td>Tel:</td>
      <td><input type="text" class="form-control" name="tel" placeholder=""></td>
    </tr>
    <tr>
      <td colspan="2">
        <button type="submit" name="update" value="2" class="btn btn-primary">Insert</button>
        <a href="/" type="submit" name="" value="2" class="btn btn-primary">Back</a>
      </td>
    </tr>
  </table>
</form>

</html>

<% /*
When style extraction is enabled, any custom styles that a page defines, will
be extracted out of the content and made available in the specific placeholder.
In our example, even though we're defining a <style> within the body, this will
be placed, according to our layout, inside of the <head> element.
<link> blocks to load external stylesheets are also extracted when the option
is enabled.
*/ %>

<style>
  .page-message {
    color: blue
  }
</style>

<% /*
Like stylesheets, scripts can also be extracted.
This script block will end up at the end of the HTML document.
*/ %>